RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Increase upload limits
php_value upload_max_filesize 50M
php_value post_max_size 50M
php_value memory_limit 128M
